In [26]:
variable = "orkun"
print(variable)

orkun

In [29]:
variable

12

In [28]:
variable = 3*4
variable

12

In [31]:
variable == 12

True

In [32]:
print("Le resultat orkun is {}".format(variable))

Le resultat orkun is 12

In [34]:
my_list = [ 1, 8, 4]

In [35]:
my_list

[1, 8, 4]

In [21]:
my_list.sort()

In [22]:
my_list

[1, 4, 8]

In [23]:
len(my_list)

3

In [38]:
my_list.append(5)
my_list

[1, 4, 8, 5]

In [39]:
my_list.sort()
my_list

[1, 4, 5, 8]

In [41]:
num1 = input('Enter the first number: ')
num2 = input('Enter the second number: ')

sum = float(num1) + float(num2)

print(sum)

Enter the first number: 6
Enter the second number: 2
8.0

In [44]:
def add(x, y):
    return x + y

def substract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y

print("Select")
print("1. Add")
print("2. Substract")
print("3. Multiply")
print("4. Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        
        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    else:
        print("Invalid Input")

Select
1. Add
2. Substract
3. Multiply
4. Divide
Enter choice(1/2/3/4): 1
Enter first number: 2
Enter second number: 3
2.0 + 3.0 = 5.0
Let's do next calculation? (yes/no): no

In [47]:
import random

name = input("What is your name? ")

print("Good Luck ! ", name)

words = ['rainbow', 'computer', 'science', 'programming',
         'python', 'mathematics', 'player', 'condition',
         'reverse', 'water', 'board', 'geeks']

word = random.choice(words)

print("Guess the characters")

guesses = ''
turns = 12

while turns > 0:

    failed = 0

    for char in word:

        if char in guesses:
            print(char, end=" ")

        else:
            print("_")
            failed += 1

    if failed == 0:
        print("You Win")
        print("The word is: ", word)
        break

    print()
    guess = input("guess a character:")

    guesses += guess

    if guess not in word:

        turns -= 1
        print("Wrong")
        print("You have", + turns, 'more guesses')

        if turns == 0:
            print("You Loose")

What is your name? Orkun
Good Luck !  Orkun
Guess the characters
_
_
_
_
_
_

guess a character:p
p _
_
_
_
_

guess a character:python
Wrong
You have 11 more guesses
p _
_
y _
_

guess a character:player
p l a y e r You Win
The word is:  player

In [7]:
import zipfile
with zipfile.ZipFile("./iris.zip", 'r') as zip_ref:
    zip_ref.extractall("./iris")

import pandas as pd

In [9]:
df = pd.read_csv("./iris/8836201-6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")

In [10]:
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]